/*


!/btop/
!/btop/**

!/cava/
!/cava/**

!/fish/
!/fish/**

!/fuzzel/
!/fuzzel/**

!/gtk-3.0/
!/gtk-3.0/**

!/gtk-4.0/
!/gtk-4.0/**

!/kitty/
!/kitty/**

!/mako/
!/mako/**

!/mango/
!/mango/**

!/matugen/
!/matugen/**

!/mise/
!/mise/**

!/niri/
!/niri/**

!/nvim/
!/nvim/**

!/opencode/
!/opencode/**

!/rofi/
!/rofi/**

!/spotatui/
!/spotatui/**

!/termusic/
!/termusic/**

!/uv/
!/uv/**

!/waybar/
!/waybar/**

!/zathura/
!/zathura/**

!info.txt
!mimeapps.list
!starship.toml
!.gitignore
